@page "/rental/detailrental"

@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForSEII2526APIClient apiclient

<h3>DetailRental</h3>



@if (rental == null)
{
    <p>@error</p>
}
else
{
        <table class="table table-borderless table-sm">
        <tr>
            <th>Name and Surname</th>
            <td id="NameSurname">@rental.Name @rental.Surname</td>
        </tr>
        <tr>
            <th>Delivery Address</th>
            <td id="DeliveryAddress">@rental.DeliveryAddress</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td id="PaymentMethod">@rental.PaymentMethod</td>
        </tr>
        <tr>
            <th>Rental Date</th>
            <td id="RentalDate">@rental.RentalDate.ToString("dd/MM/yyyy hh:mm:ss")</td>
        </tr>
        <tr>
            <th>Rental period</th>
            <td id="RentalPeriod">@rental.RentalDateFrom.DateTime.ToString("dd/MM/yyyy") - @rental.RentalDateTo.DateTime.ToString("dd/MM/yyyy")</td>
        </tr>
    </table>
    <h4>Rented Devices</h4>

    <table class="table" id="RentedDevicees">
        <thead>
            <tr>
                <th scope="col">Model</th>
                <th scope="col">Price for Renting</th>
                @* <th scope="col">Quantity</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (RentalDeviceDTO device in rental.RentalDevices)
            {
                <tr id="RentalDevice_@device.Model">
                    <td>@device.Model</td>
                    <td>@device.PriceForRent €</td>
                    @* <td>@device.Quantity</td> *@
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                 <th scope="row" colspan="2" class="text-end">Total Price</th>
                 <td id="TotalPrice">@rental.TotalPrice €</td>
            </tr>
        </tfoot>

    </table>

}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int RentalID { get; set; }
    private RentalForDetailDTO rental;
    private string error = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (RentalID <= 0)
        {
            error = "Missing or invalid RentalID in the URL.";
            return;
        }

        try
        {
            rental = await apiclient.GetRentalAsync(RentalID);
            error = null;
        }
        catch (ApiException ex)
        {
            rental = null;
            error = $"Error loading rental (id={RentalID}). Status: {ex.StatusCode}";
        }
    }
    /*
    protected override async Task OnInitializedAsync()
    {

        //we check the user is logged in
        string userName = "";
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            //we retrieve the id of the user logged in
            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated && user.IsInRole("User"))
                {
                    userName = user.Identity.Name;
                }
            }
        }

        try
        {
            rental = await apiclient.GetRentalAsync(RentalID);
        }
        catch (ApiException exception)
        {
            rental = null;
        }
        if ((rental == null) || (rental.Name != userName))
        {
            error = $"Error! You are not authorized to see this rental or there is not a rental with id={RentalID}";
        }


    }
    */
}
